*.c
*.h
*.o
*.dat
gizmo/GIZMO
*.perl
# Ignore some files inside gizmo
gizmo/Makefile.systype
gizmo/Template_Config.sh
gizmo/config-makefile
gizmo/Doxyfile
gizmo/Makefile
gizmo/README.md
gizmo/TREECOOL
# Ignore all folders inside git
gizmo/*/  
# Ignore output file
output/snapdir*/
*.ipynb_checkpoints/

# Add gizmo runs to git
!gizmo/gizmo_runs
